@import "variables";
@import "mixins";

// body styles
html, body {
  height: 100%;
  width: 100%;
}

body {
  box-sizing: border-box;
  font-family: arial, sans-serif;
  margin: 0;
}

/*nav styles*/
nav {
  background: $deepBlue;

  ul {
    @include flex;
    background: $deepBlue;
    margin: 0;
  }

  li {
    flex-basis: (100% / 6);
    text-align: center;
    text-transform: capitalize;
    &:hover {
      background: lighten($deepBlue, 6);
    }
  }

  a {
    color: $offWhite;
    height: 4%;
    text-decoration: none;
    padding: 0.7%;
  }
}

// banner-1 styles
.banner-1 {
  align-items: flex-end;
  background-image: url(img/banner-1.png);
  background-position: left;
  @include banner;

  h3, h4 {
    @include blurb;
    font-size: 4em;
    text-transform: uppercase;
  }
}

// heading styles
h2 {
  color: $deepBlue;
  font-size: 2em;
  text-align: center;
}

// .services styles
.services {
  ul {
    @include flex;
  }

  li {
    flex-basis: (100% / 3);
  }

  p {
    text-align: center;

    a {
      color: $deepBlue;
      font-size: 1.25em;
      font-weight: bold;
      text-decoration: none;
      &:hover {
       color: complement($deepBlue);
     }
    }
  }
}

// .lessons styles
.lessons {
    background-image: url(img/banner-2.png);
    background-position: center;
    @include banner;

  h3, h4, li {
    @include blurb;
    text-transform: uppercase;
  }

  h3, h4 {
    font-size: 3em;
  }

  ul {
    padding: 0;
  }

  li {
    list-style-type: none;
  }
}

// .projects styles
.projects {
  ul {
    @include flex;
  }

  li {
    flex-basis: 14%;
    margin: 1%;
  }
}
