// variables

// colors
$deepBlue: #032f3e;
$offWhite: #f8f9fb;

// body styles
html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}

// flex styles
nav ul, .services ul, .projects ul {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

/*nav styles*/
nav {
  background: $deepBlue;

  ul {
    background: $deepBlue;
    height: 4em;
    margin: 0;
  }

  li {
    flex-basis: 14%;
    text-align: center;
    text-transform: capitalize;
  }

  a {
    text-decoration: none;
    color: $offWhite;
  }

  img {
    width: 100%;
  }
}

h2 {
  color: $deepBlue;
  font-size: 2em;
  text-align: center;
}

// .services styles
.services {

  li {
    flex-basis: 30%;
  }

  img {
    text-align: center;
  }

  p {
    color: $deepBlue;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
  }
}

// .lessons styles
.lessons {
  img {
    width: 100%;
  }
}

// .projects styles
.projects {

  li {
    flex-basis: 15%;
    text-align: center;
  }
}
